*,
*::before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aab7ef;
}

.container {
  margin: 5rem auto;
  min-width: 500px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.todo__card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.todo__card label {
  width: 50px;
  text-overflow: ellipsis;
}

.form__box {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.edit__box {
  display: flex;
  margin-bottom: 1em;
}

.edit__box input {
  width: 50%;
}

.btn__box {
  display: flex;
  justify-content: end;
  width: 50%;
}

.completed {
  text-decoration: line-through;
}

input[type="checkbox"] {
  /* opacity: 0; */
  visibility: hidden;
}
label {
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
}

.btn {
  padding: 1em 1.25em;
  border-radius: 3px;
  border: none;
  margin-left: 0.5em;
  background-color: #3450a1;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.4s ease-out;
}

.btn:hover,
.btn:focus-within {
  opacity: 0.7;
}
